* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
/* body::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: 0, 0, 0, 0.5;
} */

.login-form {
    position: relative;
    z-index: 2;
}
.login-form h1 {
    font-size: 32px;
    color: #000;
    text-align: center;
    margin-bottom: 60px;
}
.input-area {
    width: 400px;
    position: relative;
}
.input-area:first-child{
    margin-top: 0;
}
.input-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 18px;
    color: black;
    /* outline: none; */
}

.input-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    color: grey;
    transition: all 0.5s ease;
}
.input-area input:focus + label,
.input-area input:valid + label {
    top: -2px;
    font-size: 14px;
    color: grey;
}
.btn-area {
    margin-top: 30px;
}
.btn-area button {
    width: 100%;
    height: 50px;
    background: #153243;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}