body {
    margin: 0px;
    font-family: 'Gowun Dodum', sans-serif;
    box-sizing: border-box;
}

div,
input,
textarea {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.heaader-container {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 10px;
}

.heaader-main {
    margin-left: 25px;
    font-size: 40px !important;
    letter-spacing: 4px;
    font-family: 'Black Han Sans', sans-serif;
}

.header-sub {
    margin-left: -20px;
}

.heaader-item {
    margin-right: 25px;
    font-size: 20px;
    cursor: pointer;    
}

.nav-container {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 10px;
    justify-content: center;

}

.nav-main {
/*    margin-left: 800px;*/
    
}

.nav-item {
    margin: 60px;
    font-size: 20px;
    cursor: pointer;
}

/*
.nav-search {
    float:right;
    padding: 5px;
    margin-right: 10px;
}
*/

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/background2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1px;
    position: relative;
}

.main-title {
    color: white;
    font-size: 60px;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 4px;
/*    font-family: 'Rowdies', cursive;*/
/*        font-family: 'Black Han Sans', sans-serif;*/
}

.para-title {
    color: white;
    font-size: 20px;
    letter-spacing: 7px;
/*    font-weight: 600;*/
    text-align: center;
}

/*
.article-btn {
    padding: 15px;
    background: white;
    border: none;
    border-radius: 30px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
}
*/

.article-container {
    width: 1000px;
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 500px;
}


.article-title{
    margin-left: 30px;
}
.article-btn {
    margin-left: 20px;
}
.article-card{
    text-align: center;
    margin-top: 20px;
}
.article-card-each{
    width: 20%;
    float: left;
}
.article-img{
    width: 80%;
    border-radius: 10px;
}
.article-content{
    margin: -20px;
}
.article-time{
    margin: -30px;
    font-size: 20px;
}


.article-2-img{
    float: left;
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.float-l {
    font-size: 20px;
    float: left;
}
.w-40-r {
    font-size: 20px;
    float: right;
}

.img-style{
    width:80%; 
    border-radius: 20px;
}



.form-background {
/*    background-color: black;*/
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.form-long {
    height: 50%;
    font-size: 17px;
}

.send-button {
    width: 30%;
    padding: 10px;
    display: block;
    margin-left: auto;
    border: 1px solid black;
    border-radius: 5px;
}


/*login*/
.login-form {
    margin-bottom: 100px;
}

.login-form h1 {
    font-size: 32px;
    color: #000;
    text-align: center;
    margin-bottom: 60px;
}

.input-area {
        display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.input-area:first-child{
    margin-top: 0;
}
.input-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 18px;
    color: black;
    /* outline: none; */
}

.btn-area {
    margin-top: 30px;
}
.btn-area button {
    width: 100%;
    height: 50px;
    background: #153243;
    background: black;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.detail-body {
    margin-top: 25px;
}
.info-box {
    /* border: 1px solid #ccc; 지울거임 */
    width: 40%;
/*    max-width: 375px;*/
    height: 800px;
    padding: 25px;
    float: left;
}
.info-box img {
    width: 70%;
}
.video-box {
    /* border: 1px solid #ccc; 지울거임 */
    width: 60%;
/*    max-width: 1100px;*/
/*    height: 800px;*/
    padding: 25px;
    float: right;
}
.video-box video{
    width: 900px;
    height: 500px;
}
.detail-end {
    padding: 15px;
    clear: both;
}
.ticketing-btn input{
    width: 25%;
    border-radius: 25px;
    padding: 8px;
    border: none;
    background-color: grey;
    cursor: pointer;
}
.video{
    width: 20%;
    max-width: 600px;
    margin-top: -80px;
}